<h1>Productos en tiempo real</h1>

<h3>Crear producto</h3>
<form id="createForm">
  <input id="title" placeholder="Título" />
  <input id="price" type="number" placeholder="Precio" />
  <button type="submit">Crear</button>
</form>

<ul id="productList">
  {{#each products}}
    <li data-id="{{this.id}}">
      {{this.title}} - ${{this.price}}
      <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
    </li>
  {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>